.glass-intensity-low {
    --glass-blur: 6px;
    --glass-noise-opacity: 0.04;
    --glass-tint: rgba(255, 255, 255, 0.12);
}

.glass-intensity-medium {
    --glass-blur: 10px;
    --glass-noise-opacity: 1;
    --glass-tint: rgba(255, 255, 255, 0.12);
}

.glass-intensity-high {
    --glass-blur: 2px;
    --glass-noise-opacity: 0.01;
    --glass-tint: rgba(0, 0, 0, 0.12);
}

.glass {
    --glass-radius: 16px;
    --glass-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.12),
    0 0.9px 1.7px rgba(0, 0, 0, 0.18),
    0 1.8px 3.5px rgba(0, 0, 0, 0.22),
    0 3.7px 7.3px rgba(0, 0, 0, 0.28),
    0 10px 20px rgba(0, 0, 0, 0.4);

    position: relative;
    isolation: isolate;
    border-radius: var(--glass-radius);
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: var(--glass-shadow);
    border-right-width: 1px;
    background: linear-gradient(var(--glass-tint), var(--glass-tint));

    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
}

.glass::after {
    content: "";
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    /*background-image: url("/src/assets/noise.png");*/
    mix-blend-mode: overlay;
    background-repeat: repeat;
}
