.app-container {
    background: #F5EDE7;
    height: 100dvh;
}

.app-layout {
    height: 100%;
    padding: 42px;
    display: grid;
    grid-template-columns: 1fr 622px;
    grid-template-rows: 110px 1fr 300px; /* три строки под три area */
    overflow: hidden;
    grid-template-areas:
        "content info"
        "playerbar info";
    gap: 24px;
}

.app-wrapper {
    padding-inline: 16px;
}

.app-header {
    grid-area: header;
    overflow-y: auto;
}

.app-content {
    grid-area: content;
    overflow-y: auto;
    min-height: 0;
}

.app-playerbar {
    grid-area: playerbar;
}

.app-info {
    grid-area: info;
    overflow-y: auto;
    min-height: 0;
    max-width: 622px;
}

.app-border {
    border-width: 4px;
    border-radius: 4px;
}

.app-title {
    font-size: 48px;
    font-weight: 900;
}

