.player-slider {
    position: relative;
    width: 20px;
    height: 240px;;
    border-radius: 15px;
    overflow: hidden;

    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
}

.player-input {
    position: absolute;
    writing-mode: vertical-rl;
    direction: rtl;
    width: 100%;
    height: 100%;
    opacity: 0.0;
}

.player-fill {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: inset 4px 4px 1px rgba(255, 255, 255, 0.5);
    border-top-width: 0 !important;
    border-radius: inherit;
    background: rgba(0, 0, 0, 0.2) !important;
}

.player-button {
    display: block;
    width: 32px;
    height: 32px;

    background-color: rgba(255, 255, 255, 0.5);

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.player-button-sound {
    -webkit-mask-image: url("/src/components/playerents/player/assets/icons/sound.svg");
    mask-image: url("/src/components/playerents/player/assets/icons/sound.svg");
}

.player-button-muted {
    -webkit-mask-image: url("/src/components/playerents/player/assets/icons/mute.svg");
    mask-image: url("/src/components/playerents/player/assets/icons/mute.svg");
}

.player-header {
    font-size: 32px;
    font-weight: bold;
    transform: scaleY(0.85);

    /* Цвет текста прозрачный */

    /* Градиент внутри текста */

    /* Clip текстом */

    color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), /* тень снизу справа */ -2px -2px 2px rgba(255, 255, 255, 0.9); /* подсветка сверху слева */
}